
@{
    ViewBag.Title = "Cart";
}

<center><h2>Cart</h2></center>
<body background="img.png" style="background-repeat: no-repeat; background-size: cover">
    <div>
        <center><br></center>
        <table style="width:70%" border="1">
            <tr>
                <th>Name</th>
                <th>Quantity</th>
                <th> price</th>
                <th>Total</th>
            </tr>
            <tr>
                <td>Magnum</td>
                <td>1</td>
                <td>90</td>
                <td>90</td>
        </table>
        <div class="row" style="padding-top:5px">
            <div>
                <center><button type="button" style="height:33px;width:140px;margin-left:auto;margin-right:auto;margin-top:1%"><a href=bill.html>Buy Now</button></center>
                <center><button type="button" style="height:33px;width:140px;margin-left:auto;margin-right:auto;margin-top:1%"><a href=aneesa.html>Continue Shopping</a></button></center>
            </div>
        </div>
    </div>
</body>
