
@{
    ViewBag.Title = "Login";
}

<center><h2>Login</h2></center>
<form>
    <center>UserName:<br></center>
    <center><input type="text" name="UserName"><br></center>
    <center>Password:<br></center>
    <center><input type="text" name="Password"><br></center>
</form>
<div>
    <center><button type="button" style="height:33px;width:140px;margin-left:auto;margin-right:auto;margin-top:1%"><a href=11.html>Login</a></button></center>
    <center><button type="button" style="height:33px;width:140px;margin-left:auto;margin-right:auto;margin-top:1%"><a href=8.html>Forgot Password</a></button></center>
</div>

