
@{
    ViewBag.Title = "SignIn";
}

<center><h2>SignUp</h2></center>
<form>
    <center>UserName:<br></center>
    <center><input type="text" name="UserName"><br></center>
    <center>Password:<br></center>
    <center><input type="text" name="Password"><br></center>
    <center>CNIC:<br></center>
    <center><input type="text" name="CNIC"><br></center>
    <center>Email:<br></center>
    <center><input type="text" name="Email"><br></center>
    <center>Home Address:<br></center>
    <center><input type="text" name="Home Address"><br></center>
</form>
<div>
    <center><button type="button" style="height:33px;width:140px;margin-left:auto;margin-right:auto;margin-top:1%"><a href=7.html>Sign Up</a></button></center>
    <center><button type="button" style="height:33px;width:140px;margin-left:auto;margin-right:auto;margin-top:1%"><a href=11.html>Login</a></button></center>
</div>

